* {
  margin: 0;
  padding: 0;
}

:root {
  /* --roboto: font-family: 'Baloo', cursive; */
  --white: #ffffff;
  --light-grey: #2e2f42;
}

body {
  color: var(--light-grey);
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo > span {
  color: var(--light-grey);
}

.list {
  list-style: none;
}

.list:first-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list:first-child:hover,
.list:first-child:focus {
  color: #404bbf;
}

.link {
  text-decoration: none;
}
