:root {
  /* --roboto: font-family: 'Baloo', cursive; */
  --white: #ffffff;
  --grey: #2e2f42;
  --light-grey: #434455;
  --light-blue: #4d5ae5;
  --light-blue-focus: #404bbf;
}

body {
  color: var(--light-grey);
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-blue);
}

.logo > span {
  color: var(--grey);
}

.list {
  list-style: none;
}

nav li a:first-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey);
}

nav li a:first-child:hover,
nav li a:first-child:focus {
  color: var(--light-blue-focus);
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.address a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-grey);
}

.address a:hover,
.address a:focus {
  color: var(--light-blue-focus);
}

.section-one {
  background-color: var(--grey);
}

.section-one-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.order {
  background-color: var(--light-blue);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

.order:hover,
.order:focus {
  background-color: var(--light-blue-focus);
  cursor: pointer;
}

.section-two-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey);
}

.section-two-content {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-grey);
}

.section-three {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--grey);
}

.section-four {
  background-color: #f4f4fd;
}

.section-four-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--grey);
}

.section-four ul li {
  background-color: var(--white);
}
.section-four li:first-child {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--grey);
}

.designation {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
